.box {
    padding: 1rem;
    border: 1px solid #ccc;
    border-right: 2px solid #000; /* Bord droit plus épais et noir */
    /* border-radius: 4px; */
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}
